body{

}
.navbar{

}
.navbar h1{

}
.navbar .links{

}
.navbar .links .link{

}
.hero{

}
.hero h1{

}
.hero h2{

}
.hero img{

}
.About-Us{

}
.About-Us h2{

}
.About-Us p{

}
.Misc{

}
.footer{

}
.footer .logo{

}
.footer .logo p{

}
.footer .logo img{
    
}
.footer .rrss{

}
.footer .rrss img{

}
